Repository borninthedark/witness: changes, and which pre-commit hooks are due for each by the changed paths.
All: jsonnet-validate, check-dry, update-readme

jsonnet-validate:
  name: jsonnet-validate
  language: system
  entry: bash -lc '~/go/bin/jsonnet -J deploy/jsonnet deploy/jsonnet/main.jsonnet >/dev/null'

check-dry:
  name: DRY enforcement
  language: system
  entry: bash -c 'unset VIRTUAL_ENV; PYTHONPATH=. uv run python tools/check_dry.py --functions-only --path fitness'
  pass_filenames: false

update-readme:
  name: Update README docs section
  language: system
  entry: bash -c 'unset VIRTUAL_ENV; PYTHONPATH=. uv run python tools/update_readme.py'
  pass_filenames: false

hcp tf #35
  README.md
  docs/pre-commit.md
  tools/update_readme.py
Due: check-dry, update-readme

hcp tf #37
  .gitignore
  LICENSE
  README.md
  fitness/templates/base.html
  tools/update_readme.py
Due: check-dry, update-readme

hcp tf #38
  README.md
  tools/update_readme.py
Due: check-dry, update-readme

hcp tf #39
  README.md
  tools/update_readme.py
Due: check-dry, update-readme

hcp tf #40
  README.md
  fitness/services/pdf_resume.py
  tools/update_readme.py
Due: check-dry, update-readme

hcp tf #41
  README.md
  tools/update_readme.py
Due: check-dry, update-readme

hcp tf #42
  LICENSE
  README.md
  docs/admin-setup.md
  fitness/main.py
  fitness/routers/admin.py
  fitness/routers/status.py
  fitness/services/pdf_resume.py
  fitness/templates/admin_base.html
  fitness/templates/admin_certs.html
  fitness/templates/admin_dashboard.html
  fitness/templates/admin_login.html
  fitness/templates/base.html
  fitness/templates/status.html
  tests/routers/test_all_routers.py
  tests/routers/test_blog.py
  tests/test_integration.py
  tools/update_readme.py
Due: check-dry, update-readme

hcp tf #42.1
  .github/workflows/data.yml
  README.md
  codecov.yml
  pyproject.toml
  pytest.ini
  tools/update_readme.py
Due: check-dry, update-readme

hcp tf #42.2
  fitness/templates/404.html
  tests/test_401.py
  tests/test_404.py
  tests/test_503.py
Due: check-dry

hcp tf #42.3
  .github/workflows/data.yml
  .github/workflows/troi.yml
  .pre-commit-config.yaml
  README.md
  container/Containerfile
  docs/admin-setup.md
  docs/architecture.md
  docs/pre-commit.md
  fitness/constants.py
  fitness/models/security.py
  fitness/routers/reports.py
  fitness/routers/security_dashboard.py
  fitness/services/cve_aggregator.py
  fitness/services/glsa_parser.py
  fitness/services/security_feed.py
  fitness/services/status_metrics.py
  fitness/services/storage.py
  fitness/static/certs/azure-transcript.pdf
  fitness/static/css/security.css
  fitness/templates/admin_base.html
  fitness/templates/admin_dashboard.html
  fitness/templates/base.html
  fitness/templates/reports/index.html
  pyproject.toml
  tests/conftest.py
  tests/data/gentoo_feed_sample.xml
  tests/routers/test_all_routers.py
  tests/routers/test_ui.py
  tests/test_app_client.py
  tests/test_constants.py
  tests/test_integration.py
  tests/test_security_dashboard.py
  tests/test_smoke.py
  tools/crop_pdf_borders.py
  tools/update_readme.py
  uv.lock
Due: check-dry, update-readme

hcp tf #42.4
  pyproject.toml
  uv.lock
Due: none

hcp tf #42.5
  .github/workflows/data.yml
  .github/workflows/troi.yml
  pyproject.toml
  uv.lock
Due: none

hcp tf #42.6
  .github/workflows/data.yml
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
Due: update-readme

hcp tf #42.7
  README.md
  tools/update_readme.py
Due: check-dry, update-readme

hcp tf #42.8
  SECURITY.md
Due: none

hcp tf #43
  README.md
  tools/update_readme.py
Due: check-dry, update-readme

hcp tf #43.1
  fitness/routers/security_dashboard.py
  fitness/templates/security/advisories_list.html
  fitness/templates/security/dashboard.html
  fitness/templates/security/stats_widget.html
  fitness/templates/security/top_advisories.html
  pyproject.toml
  tests/test_app_client.py
  uv.lock
Due: check-dry

hcp tf #43.2
  README.md
  docs/admin-setup.md
  pyproject.toml
  tools/update_readme.py
  uv.lock
Due: check-dry, update-readme

hcp tf #43.3
  .github/workflows/laforge.yml
  terraform/dev/variables.tf
Due: none

hcp tf #43.4
  terraform/modules/dns/main.tf
  tests/test_terraform.py
Due: check-dry

hcp tf #43.5
  terraform/modules/dns/main.tf
Due: none

hcp tf #43.6
  codecov.yml
  terraform/modules/dns/main.tf
Due: none

hcp tf #43.7
  terraform/dev/main.tf
  terraform/modules/dns/main.tf
Due: none

hcp tf #43.8
  terraform/dev/main.tf
  terraform/modules/dns/main.tf
Due: none

add links to site
  README.md
  fitness/services/pdf_resume.py
  tools/update_readme.py
Due: check-dry, update-readme

fix: edit troi's schedule to weekly
  .github/workflows/troi.yml
Due: none

fix: rm witness-prod ref and tone down aggressive scheduling
  .github/workflows/riker.yml
  .github/workflows/tasha.yml
Due: none

feat: add logs and charts
  fitness/config.py
  fitness/main.py
  fitness/routers/astrometrics.py
  fitness/routers/captains_log.py
  fitness/schemas/blog.py
  fitness/services/astrometrics.py
  fitness/services/captains_log.py
  fitness/templates/admin_base.html
  fitness/templates/admin_dashboard.html
  fitness/templates/astrometrics/dashboard.html
  fitness/templates/captains_log/dashboard.html
  fitness/templates/captains_log/entry.html
  pyproject.toml
  tests/test_astrometrics.py
  tests/test_captains_log.py
  uv.lock
Due: check-dry

Path conditions:
  jsonnet-validate: any of: ^deploy/jsonnet/.*\.jsonnet$, but not: ^deploy/jsonnet/main\.jsonnet$
  check-dry: any of: \.py$
  update-readme: any of: ^(docs/.*\.md|tests/README\.md|tools/update_readme\.py|coverage\.json|\.pre-commit-config\.yaml)$
