Repository borninthedark/witness: changes, and which pre-commit hooks are due for each by the changed paths.
All: jsonnet-validate, check-dry, update-readme

jsonnet-validate:
  name: jsonnet-validate
  language: system
  entry: bash -lc '~/go/bin/jsonnet -J deploy/jsonnet deploy/jsonnet/main.jsonnet >/dev/null'

check-dry:
  name: DRY enforcement
  language: system
  entry: bash -c 'unset VIRTUAL_ENV; PYTHONPATH=. uv run python tools/check_dry.py --functions-only --path fitness'
  pass_filenames: false

update-readme:
  name: Update README docs section
  language: system
  entry: bash -c 'unset VIRTUAL_ENV; PYTHONPATH=. uv run python tools/update_readme.py'
  pass_filenames: false

feat: add logs and charts
  fitness/config.py
  fitness/main.py
  fitness/routers/astrometrics.py
  fitness/routers/captains_log.py
  fitness/schemas/blog.py
  fitness/services/astrometrics.py
  fitness/services/captains_log.py
  fitness/templates/admin_base.html
  fitness/templates/admin_dashboard.html
  fitness/templates/astrometrics/dashboard.html
  fitness/templates/captains_log/dashboard.html
  fitness/templates/captains_log/entry.html
  pyproject.toml
  tests/test_astrometrics.py
  tests/test_captains_log.py
  uv.lock
Due: check-dry

feat: add logs and charts #2
  terraform/dev/main.tf
  terraform/dev/terraform.tfvars
  terraform/dev/variables.tf
  terraform/modules/app-runner/main.tf
  terraform/modules/app-runner/variables.tf
  terraform/prod/main.tf
  terraform/prod/terraform.tfvars
  terraform/prod/variables.tf
Due: none

feat: add CaptainsLogService, Astrometrics (NASA) lab admin routes, cert save toast
  docs/admin-setup.md
  docs/architecture.md
  fitness/config.py
  fitness/routers/captains_log.py
  fitness/services/astrometrics.py
  fitness/services/captains_log.py
  fitness/templates/admin_certs.html
  fitness/templates/astrometrics/dashboard.html
  fitness/templates/captains_log/dashboard.html
  pyproject.toml
  terraform/dev/main.tf
  terraform/dev/terraform.tfvars
  terraform/dev/variables.tf
  terraform/modules/app-runner/main.tf
  terraform/modules/app-runner/variables.tf
  terraform/prod/main.tf
  terraform/prod/terraform.tfvars
  terraform/prod/variables.tf
  tests/test_astrometrics.py
  tests/test_captains_log.py
  uv.lock
Due: check-dry, update-readme

feat: add logs and charts #3
  fitness/config.py
  fitness/routers/astrometrics.py
  fitness/services/astrometrics.py
  fitness/services/pdf_resume.py
  fitness/templates/admin_certs.html
  fitness/templates/astrometrics/dashboard.html
  tests/test_admin_certs.py
  tests/test_astrometrics.py
Due: check-dry

feat: add in codecov
  .github/workflows/data.yml
  pyproject.toml
Due: none

fix: codecov config, linting, and raise coverage floor to 73%
  .github/workflows/data.yml
  codecov.yml
  fitness/auth.py
  fitness/database_async.py
  fitness/main.py
  fitness/middleware/security.py
  fitness/observability/safe_metrics.py
  fitness/routers/blog.py
  fitness/routers/security_dashboard.py
  fitness/routers/status.py
  fitness/routers/ui.py
  fitness/services/blog_service.py
  fitness/services/cve_aggregator.py
  fitness/services/nist_client.py
  fitness/services/pdf_resume.py
  fitness/services/status_metrics.py
  fitness/staticfiles.py
  pyproject.toml
  tests/test_astrometrics.py
  tests/test_nist_cve.py
  tests/test_open_badges.py
  tests/test_security_hardening.py
  tools/check_dry.py
  tools/create_admin_user.py
Due: check-dry

fix: codecov config, linting, and raise coverage floor to 73% #2
  .github/workflows/picard.yml
Due: none

fix: codecov config, linting, and raise coverage floor to 73% #4
  .checkov.yml
  .gitignore
  fitness/routers/admin.py
  fitness/templates/admin_media.html
  terraform/aws/dev/tests/media.tftest.hcl
  terraform/aws/dev/variables.tf
  terraform/aws/modules/media/main.tf
  tests/test_media.py
Due: check-dry

fix: codecov config, linting, and raise coverage floor to 73% #5
  terraform/aws/modules/media/main.tf
Due: none

fix: codecov config, linting, and raise coverage floor to 73% #6
  fitness/constants.py
  fitness/main.py
  tests/test_middleware.py
  tests/test_nist_cve.py
  tests/test_security_dashboard.py
  tests/test_status_routes.py
Due: check-dry

fix: codecov config, linting, and raise coverage floor to 73% #7
  terraform/aws/dev/main.tf
  terraform/aws/modules/app-runner/main.tf
  terraform/aws/modules/app-runner/variables.tf
  terraform/aws/prod/main.tf
  tests/test_terraform.py
Due: check-dry

fix: codecov config, linting, and raise coverage floor to 73% #8
  tests/test_admin_certs.py
  tests/test_lambda_handlers.py
  tests/test_media.py
  tests/test_security_dashboard.py
  tests/test_security_hardening.py
Due: check-dry

fix: codecov config, linting, and raise coverage floor to 73% #9
  terraform/aws/bootstrap/main.tf
  terraform/aws/modules/security/main.tf
  tests/test_terraform.py
Due: check-dry

fix: codecov config, linting, and raise coverage floor to 73% #10
  terraform/aws/bootstrap/main.tf
Due: none

fix: policy config
  terraform/aws/bootstrap/main.tf
Due: none

fix: lambda perms
  terraform/aws/bootstrap/main.tf
Due: none

fix: lambda perms #2
  terraform/aws/bootstrap/main.tf
Due: none

fix: lambda perms #3
  .checkov.yml
  terraform/aws/bootstrap/main.tf
  terraform/aws/modules/app-runner/main.tf
Due: none

fix: lambda perms #5
  terraform/aws/bootstrap/main.tf
Due: none

fix: lambda perms #6
  terraform/aws/bootstrap/main.tf
Due: none

fix: cloudfront origin header
  terraform/aws/modules/media/main.tf
Due: none

fix: sass/css fixes
  fitness/static/styles.css
  fitness/static/styles.scss
Due: none

first commit
  .dockerignore
  .github/workflows/data.yml
  .github/workflows/laforge.yml
  README.md
  SECURITY.md
  container/Containerfile.pre-commit
  container/Dockerfile
  container/Dockerfile.pre-commit
  container/podman-compose.yml
  fitness/main.py
  fitness/static/js/htmx.min.js
  fitness/static/styles.css
  fitness/static/styles.scss
  fitness/templates/base.html
  tools/update_readme.py
Due: check-dry, update-readme

Fix broken theme and stabilize Terraform pre-commit hooks #3
  .gemini/settings.json
  .githooks/pre-commit
  .gitignore
  .pre-commit-config.yaml
  README.md
  container/.env.example
  container/Dockerfile
  container/Dockerfile.pre-commit
  container/docker-compose.yml
  docs/pre-commit.md
  fitness/static/styles.css
  fitness/static/styles.css.map
  fitness/static/styles.scss
  fitness/templates/base.html
  terraform/aws/bootstrap/.terraform.lock.hcl
  terraform/aws/dev/.terraform.lock.hcl
  terraform/aws/modules/app-runner/.terraform.lock.hcl
  terraform/aws/modules/codepipeline/.terraform.lock.hcl
  terraform/aws/modules/data-ingest/.terraform.lock.hcl
  terraform/aws/modules/dns/.terraform.lock.hcl
  terraform/aws/modules/media/.terraform.lock.hcl
  terraform/aws/modules/networking/.terraform.lock.hcl
  terraform/aws/modules/observability/.terraform.lock.hcl
  terraform/aws/modules/security/.terraform.lock.hcl
  terraform/aws/prod/.terraform.lock.hcl
  terraform/azure/dev/.terraform.lock.hcl
  terraform/azure/modules/ai-foundry/.terraform.lock.hcl
  terraform/azure/modules/ai-search/.terraform.lock.hcl
  terraform/azure/modules/ai-services/.terraform.lock.hcl
  terraform/azure/prod/.terraform.lock.hcl
  tools/update_readme.py
Due: check-dry, update-readme

chore: remove accidental gemini settings
  .gemini/settings.json
Due: none

Fix asset CDN tests and harden Terraform pre-commit hooks #2
  .pre-commit-config.yaml
  docs/pre-commit.md
  fitness/utils/assets.py
Due: check-dry, update-readme

Fix asset CDN tests and harden Terraform pre-commit hooks #3
  .pre-commit-config.yaml
  docs/pre-commit.md
  fitness/utils/assets.py
Due: check-dry, update-readme

Fix asset CDN tests and harden Terraform pre-commit hooks #4
  .checkov.yml
  .gitignore
  .pre-commit-config.yaml
  docs/pre-commit.md
  terraform/aws/bootstrap/main.tf
  terraform/aws/dev/main.tf
  terraform/aws/dev/variables.tf
  terraform/aws/modules/redirect/.terraform.lock.hcl
  terraform/aws/modules/redirect/main.tf
  terraform/aws/modules/redirect/outputs.tf
  terraform/aws/modules/redirect/variables.tf
  terraform/aws/modules/redirect/versions.tf
  terraform/aws/prod/main.tf
  terraform/aws/prod/variables.tf
  tests/test_media.py
  tests/test_terraform.py
Due: check-dry, update-readme

Fix Terraform pre-commit runtime and restore asset CDN compatibility
  docs/admin-setup.md
  docs/architecture.md
  docs/overview.md
  fitness/routers/security_dashboard.py
  fitness/templates/admin_base.html
  fitness/templates/admin_dashboard.html
  fitness/templates/base.html
  fitness/templates/security/advisories_list.html
  fitness/templates/security/dashboard.html
  fitness/templates/security/stats_widget.html
  fitness/templates/security/top_advisories.html
  terraform/aws/modules/media/main.tf
  tests/routers/test_all_routers.py
  tests/test_security_dashboard.py
Due: check-dry, update-readme

Path conditions:
  jsonnet-validate: any of: ^deploy/jsonnet/.*\.jsonnet$, but not: ^deploy/jsonnet/main\.jsonnet$
  check-dry: any of: \.py$
  update-readme: any of: ^(docs/.*\.md|tests/README\.md|tools/update_readme\.py|coverage\.json|\.pre-commit-config\.yaml)$
